<?xml version="1.0" encoding="utf-8"?>
<Config>
  <Emails>
    <Email>
      <Name>Default</Name>
      <Host>smtp.google.com</Host>
      <Username>test</Username>
      <Password>test123</Password>
      <Port>25</Port>
      <SSL>false</SSL>
      <FromEmail>no-reply@nightfision.com</FromEmail>
    </Email>
  </Emails>
  <HttpClients>
    <Client>
      <Name>Unleashed</Name>
      <ApiID>9a67a5f1-39f5-4bd0-804b-f543c45da7c3</ApiID>
      <ApiKey>gqh9cYl5nb40VRNlcpDJZT45PoJz9MweyAFUxtNyAO81jlUJtFwdxboDIgEnNMQXbjCht2lRTBcTIGKd7CQ==</ApiKey>
      <BaseUrl>https://api.unleashedsoftware.com</BaseUrl>
      <AssemblyPath>/Assemblies</AssemblyPath>
      <ProductPath>/Products</ProductPath>
      <StockOnHandPath>/StockOnHand</StockOnHandPath>
      <Args>AssemblyStatus=Parked</Args>
    </Client>
    <Client>
      <Name>PrintNode</Name>
      <ApiKey>Oxk8jsudil8lgPkpad1pysuSIOW7nndHv3s9I5kz3Lw</ApiKey>
      <BaseUrl>https://api.printnode.com</BaseUrl>
      <PrintJobPath>/printjobs</PrintJobPath>
      <PrinterId>72123921</PrinterId>
    </Client>
  </HttpClients>
  <Tasks>
    <Task>
      <TaskName>UnleashedPrintLabel</TaskName>
      <TaskAction>runLabelPrintTask</TaskAction>
      <Enabled>true</Enabled>
      <FrequencyType>SECONDS</FrequencyType>
      <FrequencyDuration>5000</FrequencyDuration>
      <FrequencyStartTime>00:00:00</FrequencyStartTime>
      <FrequencyEndTime>23:59:59</FrequencyEndTime>
      <ApiEnvironment>Staging</ApiEnvironment>
      <RunNow>true</RunNow>
      <LastOfficialTimeRetrieved>2023-03-09T16:22:05.158</LastOfficialTimeRetrieved>
      <LogError>true</LogError>
    </Task>
    <Task>
      <TaskName>UnleashedPickNote</TaskName>
      <TaskAction>runPickNoteTask</TaskAction>
      <Enabled>true</Enabled>
      <FrequencyType>SECONDS</FrequencyType>
      <FrequencyDuration>12000</FrequencyDuration>
      <FrequencyStartTime>00:00:00</FrequencyStartTime>
      <FrequencyEndTime>23:59:59</FrequencyEndTime>
      <ApiEnvironment>Staging</ApiEnvironment>
      <RunNow>true</RunNow>
      <LastOfficialTimeRetrieved>2023-03-09T16:22:10.150</LastOfficialTimeRetrieved>
      <LogError>true</LogError>
    </Task>
    <Task>
      <TaskName>SendErrorLogEmail</TaskName>
      <TaskAction>runLogEmailTask</TaskAction>
      <Enabled>true</Enabled>
      <FrequencyType>SECONDS</FrequencyType>
      <FrequencyDuration>5000</FrequencyDuration>
      <FrequencyStartTime>00:00:00</FrequencyStartTime>
      <FrequencyEndTime>23:59:59</FrequencyEndTime>
      <ApiEnvironment>Staging</ApiEnvironment>
      <RunNow>true</RunNow>
      <LastOfficialTimeRetrieved>2023-03-01T00:00:00.000</LastOfficialTimeRetrieved>
      <LogError>false</LogError>
      <Recipient>azhad.ibrahim@theaccessgroup.com</Recipient>
    </Task>
	<Task>
		<TaskName>RotateLogs</TaskName>
		<TaskAction>runRotateLogs</TaskAction>
		<Enabled>true</Enabled>
		<FrequencyType>SECONDS</FrequencyType>
		<FrequencyDuration>86400</FrequencyDuration>
		<FrequencyStartTime>00:00:00</FrequencyStartTime>
		<FrequencyEndTime>23:59:59</FrequencyEndTime>
		<ApiEnvironment>Staging</ApiEnvironment>
		<RunNow>true</RunNow>
		<LastOfficialTimeRetrieved>2023-03-01T00:00:00.000</LastOfficialTimeRetrieved>
		<LogError>false</LogError>
	</Task>
  </Tasks>
</Config>